
*,
*:before,
*:after {
 box-sizing: border-box;
}


body {
	margin: 0;
	min-width: 320px;
	font-family: 'Montserrat', sans-serif;
	/*background-color: yellow;*/

}
header {
	padding: 80px;
}

.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
}

.burger-logo-container{
	display: flex;
	align-items: center;
}

.logo {
	
  	display: block;
  	margin: 0 auto 80px;
}

.logo-img{
	width: 100px;
  	height: 60px;
}
.nav {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}
.nav-item {
	margin: 0 40px;
}
.nav-item a {
	color: #000;
	text-decoration: none;
	font-size:20px;
	line-height: 24px;
}

/*-------------burger-menu------------*/

.burger-menu {
	width: 48px;
	height: 30px;
	cursor: pointer;
	display: none;
}
.burger-menu-line {
	display: block;
	width: 48px;
	height: 5px;
	background: #000;
	position: relative;
}
.burger-menu-line:before,
.burger-menu-line:after {
	content: "";
	display: block;
	width: 48px;
	height: 5px;
	background: #000;
	position: absolute;
	left: 0;
}
.burger-menu-line:before {
	top: 13px;
}
.burger-menu-line:after {
	top: 25px;
}
header .contact-form {
	display: none;
}

/*-------------header-contact-form----------*/

header .contact-form {
	border-color: #fff;
	margin-bottom: 156px;
}

header .contact-form .textarea {
	color: rgba(255,255,255,0.5);
	background: #000;
}

header .contact-form label {
	color: rgba(255,255,255,0.5);
}

header .contact-form-button {
	background: #fff;
	color: #000;
}

header .contact-form-button:hover {
	box-shadow: 0px 0px 34px 0px rgba(255,255,255,0.6);
	transform: scale(1.1);
}
/*-------------contact-form----------*/

/*-------------burger-menu------------*/

/*------------carousel-------------------*/


.slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding:40px 0;
}
.slick-dots button{
	background: #fff;
	border-radius: 50%;
	border: 1px solid #000;
	width: 20px;
	height: 20px;
	font-size: 0;
	outline: none;
	margin: 0 5px;
	cursor: pointer;
}
.slick-dots .slick-active button {
	background: #000;
}
.slick-slider div {
	outline: none;
}
.slick-slider img {	
	margin: 0 auto;
	width: 400px;
	height:200px;
}



/*-------------carousel--------------*/


.history-section{
	padding: 0 0 60px;
}

.title {
	display: block;
	width: 100%;
	font-size: 40px;
	line-height: 49px;
	color: #000;
	text-align: center;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	padding: 16px 0;
	margin: 0 0 60px;
	
}

.main-section{
	padding: 80px 0;
}
.main-section .text {	
	text-align: center;
	color: #000;
	font-size: 28px; 
	line-height: 35px;
}

.text .mark {	
	font-size: 48px;	
}

.article-container{
	display: flex;
	justify-content: space-between;
}
.text-container {
    flex-basis: 500px;
    background-color: #000;
    display: flex;
    align-items: center;
}
.history-section .text{	
	font-size:18px;
	color:#fff;
	padding: 50px;
	/*flex-grow: 1;*/
	line-height: 23px;	
}

/*-------------footer-contact-form----------*/
.footer{
	margin-bottom: 100px;
}

.footer .title{
	margin: 0 0 47px;
}

.contact-form {
	max-width: 100%;
	height: 120px;
	font-size: 16px;
	position: relative;
	margin-bottom: 100px;
	outline: none;
	border: 1px solid #000;
}

.contact-form .textarea {
	--textarea-width: calc(200px + 9%);
	width: calc(100% - var(--textarea-width));
	height:44px;
	font: 18px/ 1 Montserrat, sans-serif;
	color: rgba(0,0,0,0.5);
	outline: none;
	position: absolute;
	left: 3%;
	top: 49px;
	resize: none;
	overflow: auto;
	resize: none;
	border: none;
}

.contact-form label {
	position: absolute;
	width: 100%;
	height: 60%;
	left: 3%;
	top: 49px;
	font: 18px/ 22px Montserrat, sans-serif;
	color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	transition: all 0.2s ease-in-out;
	z-index: 3;
	vertical-align: middle;

}



.contact-form textarea:focus + label, .contact-form textarea:valid + label {
	transform: translatey(-28px);
 }

.contact-form-button {
	font: 28px/ 34px 'Montserrat', sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 13px 59px;
	background: #000;
	border-radius: 8px;
	position: absolute;
	z-index: 3;
	right: 2.9%;
	top: 25%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.contact-form-button:hover {
	box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.46);
	transform: scale(1.1);
}

/*-------------contact-form----------*/



/* tablet */

@media only screen and (max-width: 1024px) {
	body{
		/*max-width: 1024px;*/
	}
	.wrapper {
		padding: 204px 48px 0;
		max-width: 1024px;
	}
	header {
		position: absolute;
		top: 0;
		left: 0;
	    width: 100%;
	    z-index: 1;
	    padding: 48px 48px 96px;
	}
	.logo{
		margin: 0 auto;
	}

	.logo-img{
		width: 80px;
		height: 48px;
	}
	.nav {
		display: none;
	}
	
	.burger-menu {
		display: block;
	}
	.container{
		max-width: 928px;
	}

	/*-----menu-open-styles-------*/
	.menu-open header {
		background: #000;
		height: 600px;
	}

	.menu-open header .nav{
		display: block;
	}

	.menu-open .logo * {
		fill: #fff;
	}
	.menu-open .burger-menu-line,
	.menu-open .burger-menu-line:before  {
		background: #fff;
	}
	.menu-open .burger-menu-line:after {
		display: none;
	}
	.menu-open header .contact-form {
		display: block;		
	}

	.menu-open header .contact-form textarea{
		background-color: transparent;
		border: 1px solid #fff;
	}

	.menu-open header .contact-form textarea::placeholder{
		color: #fff;
	}

	.menu-open header .contact-form button {
	background: #fff;
    color: #000;
   }

    .main-section{
    	padding: 49px 52px 47px;
    }

    .main-section .text{
    	font-size: 20px;
    	line-height: 26px;
    }
	.article-container{
		padding: 0;
		display: block;
	}
	.title{
		font-size: 28px;
		line-height: 34px;
		margin-bottom: 32px;
	}

	.footer .title {
    margin: 0 0 32px;
}

/*-------------footer-contact-form----------*/
footer .contact-form {
	margin-bottom: 80px;
}
/*-------------contact-form----------*/

	.history-section {
		padding: 0 0 32px;
	}
	.history-section .text{
		    padding: 48px;
	}

	.text-container + .text-container{
		margin-top: 32px;
	}
	
	
}



@media only screen
and (max-width: 768px) {
	.wrapper {		
		max-width: 768px;		
	}	
	
	.container{
		max-width: 768px;
	}

	/*-----menu-open-styles-------*/
	.menu-open header {
		background: #000;
		height: 600px;
	}

	.menu-open header .nav{
		display: block;
	}

	.menu-open .logo * {
		fill: #fff;
	}
	.menu-open .burger-menu-line,
	.menu-open .burger-menu-line:before  {
		background: #fff;
	}
	.menu-open .burger-menu-line:after {
		display: none;
	}
	.menu-open header .contact-form {
		display: block;
		
	}

	.menu-open header .contact-form textarea{
		background-color: transparent;
		border: 1px solid #fff;
	}

	.menu-open header .contact-form textarea::placeholder{
		color: #fff;
	}

	.menu-open header .contact-form button {
	background: #fff;
    color: #000;

   }

   /*--------------menu-open styles-----------------*/
	
	.slick-slider img {
		width: 100%;
		height: 180px; 
	}
	.slick-dots {
		padding: 24px 0 0;
	}
	.slick-dots button {
    	width: 8px;
    	height: 8px;
   }

   .main-section{
   	padding: 24px 0;
   }
   .main-section .text{
   	font-size: 16px;
   	padding: 0;
   	line-height: 20px;
   }	

   .container{
   	margin: 0 20px;
   }

   .article-container{
		padding: 0 0 24px;
		
	}

	.history-section {
    padding: 0;
	}
	
	.history-section .text{
		padding: 20px;
		font-size: 16px;
	}

	.text-container + .text-container{
		margin-top: 24px;
	}

	.title{
		font-size: 20px;
		line-height: normal;
		margin-bottom: 24px;
	}

	.text .mark {    
	    font-size: 24px;
	    line-height: normal;
	    display: block;
	   font-size: 24px;
	   line-height: normal;
	   display: block;
	}
	/*-------------contact-form----------*/
/*-------------header-contact-form----------*/
header .contact-form {
	border-color: #fff;
	margin-bottom: 156px;
}

header .contact-form .textarea {
	color: rgba(255,255,255,0.5);
	font: 18px/1 Montserrat, sans-serif;
	outline: none;
	resize: none;
	overflow: auto;
	background: #000;
	padding: 20px;
	width: 100%;
	height: 100%;
	position: initial;	
}

header .contact-form label {
	color: rgba(255,255,255,0.5);
}

header .contact-form-button {
	background: #fff;
	color: #000;
	margin: 19px 0 60px;
}
/*-------------footer-contact-form----------*/
.contact-form {
	margin: 0;
}
.contact-form-button {
	position: initial;
	width: 100%;
	margin: 19px 0 50px;
	}

.contact-form-button:hover {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.46);
	transform: scale(1.05);
}
.contact-form .textarea {
	padding: 20px;
	width: 100%;
	height: 100%;
	position: initial;
	font: 18px/1 Montserrat, sans-serif;

}

.contact-form label {
	text-align: center;
	top: 20px;
	left: 0;
}

.contact-form textarea:focus + label, .contact-form textarea:valid + label {
	color: rgba(0,0,0,0);
 }
 /*-------------contact-form----------*/
}

/* mobile */
@media only screen and (max-width: 415px) {
	.wrapper{
		max-width: 415px;
		padding:0;
	}

	header{
		padding: 20px 0 0 20px;	   
	}

	.logo {
		display: none;
	}	

	.burger-menu {
		display: block;
	}

	.burger-menu-line,
	.burger-menu-line:before,
    .burger-menu-line:after {
        background: #fff;    }
   

	.menu-open header {
		background: #000;
	}
	.menu-open .logo * {
		fill: #fff;
	}
	.menu-open .burger-menu-line,
	.menu-open .burger-menu-line:before  {
		background: #fff;
	}
	.menu-open .burger-menu-line:after {
		display: none;
	}

	.slick-slider img{
		width: 100%;
	}
	
	.slick-dots button {
    width: 8px;
    height: 8px;
   }   
   
   .container{
   	margin: 0 20px;
   }	

/*-------------contact-form----------*/

/*-------------header-contact-form----------*/
header .contact-form {
	border-color: #fff;
	margin-bottom: 156px;
}
header .contact-form .textarea {
	color: rgba(255,255,255,0.5);
	font: 18px/1 Montserrat, sans-serif;
	outline: none;
	resize: none;
	overflow: auto;
	background: #000;
	padding: 20px;
	width: 100%;
	height: 100%;
	position: initial;	
}
header .contact-form label {
	color: rgba(255,255,255,0.5);
}
header .contact-form-button {
	background: #fff;
	color: #000;
	margin: 19px 0 60px;
}
/*-------------footer-contact-form----------*/
.contact-form {
	margin: 0;
}
.contact-form-button {
	position: initial;
	width: 100%;
	margin: 19px 0 50px;
	}
.contact-form-button:hover {
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.46);
	transform: scale(1.05);
}
.contact-form .textarea {
	padding: 20px;
	width: 100%;
	height: 100%;
	position: initial;
	font: 18px/1 Montserrat, sans-serif;
}

.contact-form label {
	text-align: center;
	top: 20px;
	left: 0;
}
.contact-form textarea:focus + label, .contact-form textarea:valid + label {
	color: rgba(0,0,0,0);
 }
 /*-------------contact-form----------*/
}
